
.input {
	border: 1px solid color('ghost');
	border-radius: calc-rem(40px);
	margin: 0 0 calc-rem(20px);
	padding: calc-rem(15px) calc-rem(25px);
	transition: border-color 0.4s;
	width: 100%;
	will-change: border-color;

	&::placeholder {
		color: color('ghost');
		transition: color 0.4s;
		will-change: color;
	}

	&:last-of-type {
		margin: 0;
	}

	&:focus {
		border-color: color('white');
		outline: none;

		&::placeholder {
			color: color('white');
		}
	}
}